#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #333;
}

body, section h3, aside h3 {
  color: #c00;
  background-color: #eaeaea;
}

/* Functional CSS */
section, aside {
  position: relative;
  overflow: visible;
  border: 1px solid #999;
  padding: 1ex;
  margin: 1ex auto 3em;
}
aside h3,
section h3 {
  /* Background color defined on L19 & L91. */
  display: inline-block;
  position: absolute;
  top: -1.66em;
  left: 0.5ex;
  line-height: 1;
  padding: 0 0.5ex;
}

h3 {
  font-size: 2em;
  margin-bottom: 0;
}

.advanced-filters,
table {
  font-family: sans-serif;
  width: 780px;
  margin: 0 auto;
}
table th, table td {
  padding: 0.25em 0.5em;
  text-align: left;
}
table th:nth-child(2), table td:nth-child(2) {
  text-align: right;
}
table td {
  background-color: #eee;
}
table th {
  background-color: #009;
  color: #fff;
}

.zigzag {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
}
.zigzag tbody tr:nth-child(odd) {
  transform: rotate(2deg);
}
.zigzag thead tr,
.zigzag tbody tr:nth-child(even) {
  transform: rotate(-2deg);
}